@tailwind base;
@tailwind components;
@tailwind utilities;
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.main-title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 5rem;
}
